<!DOCTYPE html>
<html>

<head>
    <title>Login User</title>
</head>

<body>
    <h1>Login Page</h1>
    <form method="post" action="/user/login">
        <label>Username :</label>
        <input type="text" placeholder="Type username here" name="username" required />
        <br />

        <label>Password :</label>
        <input type="password" placeholder="Type password here" name="password" required />
        <br />

        <button type="submmit">Submit</button>
    </form>

    <a href="/page/register">Go to Register Page</a>
</body>

</html>